---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Koodikatu | Contact">
  <main
    class="prose lg:prose-xl lg:prose-h2:mt-0 prose-ul:p-0 px-2 lg:px-0 lg:mt-8 w-full max-w-4xl mx-auto grid grid-flow-row lg:grid-cols-2 lg:gap-8 lg:divide-x divide-solid justify-stretch"
  >
    <section>
      <h2>Messengers</h2>
      <ul class="not-prose list-none grid grid-flow-row lg:grid-cols-2 gap-2">
        <li>
          <a
            href="https://wa.me/message/NBLX23LB3XOZP1"
            target="_blank"
            class="flex gap-2 justify-center items-center p-2 bg-slate-200 rounded"
          >
            <img
              src="/whatsapp.svg"
              alt="Whatsapp logo"
              class="h-5 aspect-square"
            />
            WhatsApp
          </a>
        </li>
        <li>
          <a
            href="https://t.me/koodikatu"
            target="_blank"
            class="flex gap-2 justify-center items-center p-2 bg-slate-200 rounded"
          >
            <img
              src="/telegram.svg"
              alt="Telegram logo"
              class="h-5 aspect-square"
            />
            Telegram
          </a>
        </li>
      </ul>
    </section>
    <section class="lg:pl-8">
      <h2>Send an email</h2>
      <form 
        name="contact" 
        method="POST" 
        action="/email-sent"
        data-netlify="true"
      >
        <label for="email">Email</label>
        <input
          required
          type="email"
          name="email"
          id="email"
          class="w-full border border-slate-200 rounded p-2"
        />
        <label for="message">Message</label>
        <textarea
          required
          name="message"
          id="message"
          class="w-full border border-slate-200 rounded p-2"
          placeholder="Type your message here"
        ></textarea>
        <button
          type="submit"
          class="font-semibold bg-slate-200 rounded py-2 px-4 mt-2 w-full lg:w-max"
        >
          Send
        </button>
      </form>
    </section>
  </main>
</Layout>
