---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Koodikatu | Homepage">
  <main class="prose-xl">
    <section
      class="px-2 flex flex-col lg:flex-row justify-center items-start lg:items-center gap-4 lg:gap-12 min-h-sm lg:min-h-lg"
    >
      <img
        src="/humaaans-meeting.png"
        alt="Illustration scene where two customers are meeting with John from Koodikatu"
        class="mb-0"
      />
      <div>
        <h2 class="m-0">Koodikatu</h2>
        <p>A companion for your tech dreams</p>
      </div>
    </section>
    <section class="px-2 lg:px-0 max-w-4xl mx-auto">
      <h2>Customers</h2>
      <ul class="not-prose list-none grid grid-cols-2 lg:grid-cols-4 gap-2 p-0">
        <li class="flex min-h-[7rem] bg-slate-200 rounded">
          <a
            href="https://gubbe.fi"
            target="_blank"
            class="flex-1 flex flex-col items-center justify-center"
          >
            <h3 class="sr-only">Gubbe Oy</h3>
            <img src="/gubbe.svg" alt="Gubbe logo" class="h-7" />
          </a>
        </li>
        <li class="flex min-h-[7rem] bg-slate-200 rounded">
          <a
            href="https://zoined.com"
            target="_blank"
            class="flex-1 flex flex-col items-center justify-center"
          >
            <h3 class="sr-only">Zoined Oy</h3>
            <img src="/zoined.svg" alt="Zoined logo" class="h-7" />
          </a>
        </li>
        <li class="flex min-h-[7rem] bg-slate-200 rounded">
          <a
            href="https://mobal.io"
            target="_blank"
            class="flex-1 flex flex-col items-center justify-center"
          >
            <h3 class="sr-only">Mobal Oy</h3>
            <img src="/mobal.svg" alt="Mobal logo" class="h-7" />
          </a>
        </li>
      </ul>
    </section>
  </main>
</Layout>
