---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Koodikatu | Homepage">
  <main class="prose md:prose-xl max-w-none">
    <section class="w-full max-w-6xl mx-auto px-2 lg:px-0">
      <h2 class="md:text-6xl">
        We are <span class="italic">Koodikatu</span>, a tech companion to bring
        your projects to life
      </h2>
      <div
        class="flex justify-center items-center rounded-xl bg-gradient-to-tr from-pink-500 via-orange-500 to-yellow-500 overflow-scroll"
      >
        <img src="/phone.png" class="hidden md:block md:h-60 lg:h-96" />
        <img src="/humans-sitting-at-desk.png" class="h-64 md:h-60 lg:h-80" />
        <img src="/rocket.png" class="hidden md:block md:h-60 lg:h-96" />
      </div>
    </section>
    <section class="px-2 lg:px-0 max-w-6xl mx-auto mt-4 lg:mt-8">
      <h2 class="sr-only">Discover more</h2>
      <ul
        class="not-prose list-none grid md:grid-cols-3 lg:grid-cols-4 gap-4 lg:gap-8 p-0"
      >
        <li
          class="flex min-h-[7rem] bg-gradient-to-br from-teal-500 via-cyan-600 to-blue-500 rounded-xl"
        >
          <a
            href="/services"
            class="flex-1 flex items-center justify-center gap-5 md:gap-7"
          >
            <img
              src="/diamond-and-arrow.png"
              alt="3D illustration of a diamond with an arrow cursor"
              class="w-20"
            />
            <h3 class="font-semibold text-white">Services</h3>
          </a>
        </li>
        <li
          class="relative flex min-h-[7rem] bg-gradient-to-br from-teal-500 via-cyan-600 to-blue-500 rounded-xl"
        >
          <div
            class="group absolute w-full h-full flex items-end justify-end p-2 select-none"
          >
            <div
              class="rounded text-xs px-1 font-semibold bg-amber-300/75 group-hover:bg-amber-300 transition-all ease-in-out"
            >
              Coming soon
            </div>
          </div>
          <a
            href="/case-studies"
            class="flex-1 flex items-center justify-center gap-4"
          >
            <img
              src="/human-with-laptop.png"
              alt="3D illustration of a human with a laptop"
              class="-m-3 w-20"
            />
            <h3 class="font-semibold text-white">Case studies</h3>
          </a>
        </li>
        <li
          class="relative flex min-h-[7rem] bg-gradient-to-br from-teal-500 via-cyan-600 to-blue-500 rounded-xl"
        >
          <div
            class="group absolute w-full h-full flex items-end justify-end p-2 select-none"
          >
            <div
              class="rounded text-xs px-1 font-semibold bg-amber-300/75 group-hover:bg-amber-300 transition-all ease-in-out"
            >
              Coming soon
            </div>
          </div>
          <a
            href="/blog"
            class="flex-1 flex items-center justify-center gap-5 md:gap-7"
          >
            <img
              src="/writing.png"
              alt="3D illustration of a hand writing"
              class="w-20"
            />
            <h3 class="font-semibold text-white">Blog</h3>
          </a>
        </li>
      </ul>
    </section>
    <section class="px-2 lg:px-0 max-w-6xl mx-auto">
      <h2>Trusted by</h2>
      <ul
        class="not-prose list-none grid grid-cols-2 lg:grid-cols-4 gap-4 lg:gap-8 p-0"
      >
        <li class="flex min-h-[7rem] bg-slate-200 rounded-xl">
          <a
            href="https://gubbe.fi"
            target="_blank"
            class="flex-1 flex flex-col items-center justify-center"
          >
            <h3 class="sr-only">Gubbe Oy</h3>
            <img src="/gubbe.svg" alt="Gubbe logo" class="h-7" />
          </a>
        </li>
        <li class="flex min-h-[7rem] bg-slate-200 rounded-xl">
          <a
            href="https://zoined.com"
            target="_blank"
            class="flex-1 flex flex-col items-center justify-center"
          >
            <h3 class="sr-only">Zoined Oy</h3>
            <img src="/zoined.svg" alt="Zoined logo" class="h-7" />
          </a>
        </li>
        <li class="flex min-h-[7rem] bg-slate-200 rounded-xl">
          <a
            href="https://mobal.io"
            target="_blank"
            class="flex-1 flex flex-col items-center justify-center"
          >
            <h3 class="sr-only">Mobal Oy</h3>
            <img src="/mobal.svg" alt="Mobal logo" class="h-7" />
          </a>
        </li>
      </ul>
    </section>
  </main>
</Layout>
