---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Koodikatu | Services">
  <main
    class="prose md:prose-xl md:prose-h2:font-normal prose-ul:p-0 max-w-none"
  >
    <section class="w-full max-w-6xl mx-auto px-2 lg:px-0">
      <h2>Services</h2>
    </section>
  </main>
</Layout>
