<footer class="flex flex-col gap-4 mt-8 border-t-2 p-8">
  <!-- Footer content will come here -->
  <nav class="w-full max-w-4xl mx-auto">
    <ul class="lg:max-w-max flex flex-col lg:flex-row gap-2 lg:gap-4 items-center">
      <li><a href="/">Home</a></li>
      <li><a href="/cases">Cases</a></li>
      <li><a href="/blog">Blog</a></li>
      <li class="flex"><a href="/contact" class="p-2 bg-slate-600 text-slate-50 rounded font-semibold">Contact</a></li>
    </ul>
  </nav>
  <div class="max-w-4xl mx-auto w-full mt-2 flex justify-center lg:justify-start">
    <p class="text-gray-500 text-sm">© 2023 All rights reserved.</p>
  </div>
</footer>
