<footer class="flex flex-col gap-4 mt-8 border-t-2 p-8">
  <!-- Footer content will come here -->
  <nav class="w-full max-w-4xl mx-auto">
    <ul>
      <li>
        <a href="/contact">Contact</a>
      </li>
    </ul>
  </nav>
  <div class="flex lg:justify-center">
    <p class="text-gray-500 text-sm">© 2023 All rights reserved.</p>
  </div>
</footer>
