<footer class="flex flex-col gap-4 mt-8 border-t-2 p-8">
  <nav class="w-full max-w-6xl mx-auto">
    <ul
      class="lg:max-w-max flex flex-col md:flex-row gap-2 md:gap-4 items-center"
    >
      <li><a href="/">Home</a></li>
      <!-- <li><a href="/case-studies">Cases</a></li> -->
      <!-- <li><a href="/blog">Blog</a></li> -->
      <li class="flex">
        <a
          href="/contact"
          class="bg-gradient-to-tr from-purple-800 to-indigo-600 py-2 px-4 rounded text-slate-50 font-semibold"
          >Contact</a
        >
      </li>
    </ul>
  </nav>
  <div
    class="max-w-6xl mx-auto w-full mt-2 flex justify-center lg:justify-start"
  >
    <p class="text-gray-500 text-sm">© 2023 All rights reserved.</p>
  </div>
</footer>
