---
import { CollectionEntry, getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const collection = await getCollection("case-studies");
  const paths = collection.map((entry) => ({
    params: { slug: entry.slug },
    props: entry,
  }));
  return paths;
}

type Props = CollectionEntry<"case-studies">;

const post = Astro.props;
const { Content } = await post.render();
---

<Layout title={post.data.title}>
  <main class="px-2 pt-8 mx-auto w-full max-w-4xl prose md:prose-lg">
    <Content />
  </main>
</Layout>
